<h1>Hello from {{ name }}!</h1>
<div>
  <p-autoComplete
    [ngModel]="selectedItem"
    (onSelect)="select($event)"
    [suggestions]="suggestions"
    (completeMethod)="search($event.query)"
    [virtualScroll]="true"
    [virtualScrollItemSize]="34"
    [lazy]="true"
  ></p-autoComplete>
</div>
<ul>
  <li *ngFor="let todo of allTodos$ | async">
    <div>Id: {{ todo.id }}</div>
    <div>User Id: {{ todo.userId }}</div>
    <div>Title: {{ todo.title }}</div>
    <div>Complete: {{ todo.completed }}</div>
    <button pButton class="pi pi-check">Click</button>
  </li>
</ul>
